html {
    font-size: 16px;
}

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

/* Mejoras en la tarjeta */
.card {
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}

    .card:hover {
        transform: scale(1.03);
    }

/* Estilo de botones */
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    font-weight: bold;
}

    .btn-info:hover {
        background-color: #138496;
        border-color: #117a8b;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

/* Paginación personalizada */
.pagination .page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.pagination .page-link {
    color: #17a2b8;
}

    .pagination .page-link:hover {
        color: #fff;
        background-color: #138496;
        border-color: #117a8b;
    }
